<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a
                    href="./01-gallery.html"
                    class="nav-link"
                    style="text-decoration: none; color: #2e2f42"
                    >Gallery</a
                >
            </li>

            <li class="nav-item">
                <a
                    href="./02-form.html"
                    class="nav-link"
                    style="text-decoration: none; color: #2e2f42"
                    >Form</a
                >
            </li>
        </ul>
    </nav>
</header>
